.headt{
background-color: rgb(199, 164, 106);
position: relative;
top: 0%;
}
.imgg{
  width:80% ;
  height:10% ;
  justify-content: center;
  padding: 0px 0px 0px 400px;
  position: relative;
  z-index: 3;
}
ul{
  position: relative;
  top: 10px;
  left: 10px;
}
ul li a{
  text-decoration: none;
  font-weight: bold;
  font-size: 25px;
  color: rgb(116, 33, 33);
}
ul li{
  background-color: rgb(137, 117, 188);
  display: flex;
  justify-content: center;
  padding: 10px;
  justify-items: auto;
  border-radius: 6px;
}
ul li:hover{
  background-color: rgb(251, 251, 251);
}
.offer{
  color: rgb(3, 3, 3);
  font-style: italic;
  font-size: 30px;
  font-weight: 1000;
  float: right;
  position: relative;
  top: 30px;
  right: 300px;
  z-index: 2;
}
.gradient1{
  height: 200px;
  width: 40%;
  background-color:orangered ;
  border-radius: 20px;
  position: relative;
  top: 499px;
  left: 900px;
  z-index: 1;
}
.head-2{
  background-color: rgb(162, 140, 105);
  position: relative;
  display: flex;
}
.box-1{
  width: 10%;
  height: 10%;
  position: relative;
  border: 5px solid rgb(236, 168, 23);
}
.box-2{
  background-color: rgb(241, 155, 68);
  width: 500px;
  height: 500px;
  position: relative;
  left: 310px;
  border: 5px solid rgb(243, 199, 104);
}
.box-3{
  background-image: url("logo.png");
  width: 500px;
  height: 500px;
  position: relative;
  left: 290px;
  border: 5px solid rgb(244, 173, 92);
}
.box-4{
  background-image: url("image.png");
  width: 500px;
  height: 500px;
  position: relative;
  left: 200px;
  border: 5px solid rgb(241, 174, 87);
  
}
.item{
  background-color: chocolate;
  font-weight: 800;
  display: flex;
  text-align: center;
}
.parent{

}
.child{
  background-color: black;
  width: 100%;
  height: 70px;
  font-size:larger;
  font-style: normal;
  color: azure;
  word-spacing: 10px;
  position: fixed;
  bottom: 0;
}
.img{
  width:500px ;
  height:500px ;
}
.img2{
  width:400px ;
  height: 500px;
}
.img:hover{
  width:550px ;
  height:550px ;
}
.img2:hover{
    width:450px ;
  height: 550px;
}






*{
  margin: 0;
  padding: 0;
  font-family: "montserrat", sans-serif;
}
.review{
  padding: 40px 0;
  background: #f1f1f1;
  color: #434343;
  text-align: center;
}
.inner{
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
  padding: 0 20px;
}
.border{
  width: 160px;
  height: 5px;
  background: #6ab04c;
  margin: 26px auto;
}
.row{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.col{
  float: 33.33%;
  max-width: 33.33%;
  box-sizing: border-box;
  padding: 15px;
}
.review{
  background: #fff;
  padding: 30px;
}
.review img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.name{
  font-size: 20px;
  text-transform: uppercase;
  margin: 20px 0;
}
.stars{
  color: #6ab04c;
  margin-bottom: 20px;
}

@media screen and (max-width:960px){
  .col{
    flex: 100%;
    max-width: 80%;
  }
}
@media screen  and(max-width:600px){
  .col{
    flex: 100%;
    max-width: 100%;
  }
}